/* Fonts */
@font-face {
	font-family: "Gilroy";
	font-style: normal;
	font-weight: 800;
	src: local("Gilroy"), 
	url("../fonts/gilroyextrabold.woff2") format("woff2"), 
	url("../fonts/gilroyextrabold.woff") format("woff");
}

@font-face {
	font-family: "Gilroy";
	font-style: normal;
	font-weight: 300;
	src: local("Gilroy"),
	url("../fonts/gilroylight.woff2") format("woff2"),
	url("../fonts/gilroylight.woff") format("woff");
}

@font-face {
	font-family: "Opensans";
	src: local("Opensans"),
	url("../fonts/opensans.woff2") format("woff2"),
	url("../fonts/opensans.woff") format("woff");
}

@font-face {
	font-family: "Opensans";
	src: local("Opensans"),
	url("../fonts/opensanslight.woff2") format("woff2"),
	url("../fonts/opensanslight.woff") format("woff");
}

/* Custom */
:root {
	--basic-black: #000000;
	--basic-dark: #363636;
	--basic-grey: #464646;
	--basic-half-grey: #7E7E7E;
	--basic-grey-light: #E5E5E5;
	--basic-white: #FFFFFF;
	--basic-yellow-dark: #F0C52E;
	--basic-yellow-light: #F7E296;
	--special-green: #91C92F;
	--special-yellow: #FFC600;
	--special-grey: #DCDCDC;
	--basic-pink: #F6DADA;
	--grey-opacity: rgba(255, 255, 255, 0.6);
	--grey-half-opacity: rgba(255, 255, 255, 0.3);
	--basic-black-opacity: rgba(0, 0, 0, 0.2);
	--toggle-gray: #C4C4C4;
	--special-input: #F2F2F2;
	--special-input-text: rgba(0, 0, 0, 0.4);
	--special-input-text2: rgba(0, 0, 0, 0.6);
}

/* Global */
body {
	min-width: 1160px;
	margin: 0;
	padding: 0;
	font-family: "Open-sans", Arial, san-serif;
	font-style: normal;
	font-weight: 300;
	font-size: 15px;
	line-height: 20px;
	color: var(--basic-black);
}

.page a {
	text-decoration: none;
}

.page {
	height: 100%;
}

.page-body {
	min-height: 100%;
	display: grid;
	grid-template-rows: min-content 1fr min-content;
	overflow-x: hidden;
}

img {
	max-width: 100%;
	height: auto;
}

/* Navigation */
.site-navigation,
.main-navigation {
	margin: 0;
	padding: 0;
	list-style-type: none;
	font-family: "Gilroy", Arial, san-serif;
	font-weight: 800;
	font-size: 18px;
	line-height: 22px;
	letter-spacing: 0.2em;
	text-transform: uppercase;
}

.site-navigation a:hover,
.site-navigation a:focus,
.main-navigation a:hover,
.main-navigation a:focus {
	color: var(--basic-black);
	opacity: 0.6;
}

.site-navigation a:active,
.main-navigation a:active {
	opacity: 0.3;
}

.site-navigation a:visited,
.main-navigation a:visited,
.header-login a:visited {
	color: var(--basic-black);
}

.header-login,
.footer-login-site {
	list-style-type: none;
}

.header-login {
	font-family: "Opensans", Arial, san-serif;
	font-weight: 300;
	font-size: 15px;
	line-height: 20px;
}

.header-login a:hover {
	opacity: 0.6;
}

.header-login a:active {
	opacity: 0.3;
}

.footer-login-site a {
	font-family: "Opensans", Arial, san-serif;
	font-weight: 300;
	font-size: 15px;
	line-height: 20px;
	color: var(--grey-opacity);
}

.footer-login-site a:hover {
	color: var(--basic-white);
}

.footer-login-site a:active {
	color: var(--grey-half-opacity);
}

.footer-navigation-site a {
	font-family: "Gilroy", Arial, san-serif;
	font-weight: 800;
	font-size: 18px;
	line-height: 22px;
	text-transform: uppercase;
	color: var(--basic-white);
}

.footer-navigation-site a:hover {
	opacity: 0.6;
}

.footer-navigation-site a:active {
	opacity: 0.3;
}

.footer-navigation-site {
	list-style-type: none;
	letter-spacing: 0.2em;
}

.footer-login-site:hover {
	color: var(--basic-white);
}

/* Main */
.slider-features {
	font-family: "Gilroy", Arial, san-serif;
	font-weight: 800;
	font-size: 47px;
	line-height: 58px;
}

.slider-property,
.small-info {
	font-family: "Opensans";
	font-weight: 300;
	font-size: 15px;
}

.small-info {
	line-height: 28px;
	letter-spacing: 1px;
}

.site-menu,
.catalog-list {
	list-style-type: none;
	font-family: "Gilroy", Arial, san-serif;
	font-weight: 800;
	font-size: 18px;
	line-height: 22px;
}

.site-menu {
	font-size: 16px;
}

.site-menu a:visited {
	color: var(--basic-black);
}

.large-title {
	font-family: "Gilroy", Arial, san-serif;
	font-weight: 800;
	font-size: 47px;
	line-height: 58px;
	letter-spacing: 0.2em;
}

.site-navigation {
	position: relative;
}

.advantage-name {
	position: relative;
}

.logo-list,
.footer-social-list {
	list-style-type: none;
}

.company-list {
	position: relative;
	font-family: "Gilroy", Arial, san-serif;
	font-weight: 800;
	font-size: 16px;
	line-height: 28px;
	padding-bottom: 35px;
	padding-top: 28px;
}

.company-list li {
	list-style-type: none;
	padding-bottom: 16px;
}



.company-list li::before {
	content: "";
	position: absolute;
	width: 4px;
	height: 4px;
	left: 4px;
	background-color: transparent;
	border: 2px solid #E5E5E5;
	border-radius: 50%;
	margin-top: 10px;
}

.main-header {
	height: 300px;
	background-color: var(--basic-yellow-light);
}

.inner-header {
	height: 186px;
}

.advantages {
	margin-bottom: 24px;
}

.advantages::before {
	content: "";
	position: absolute;
	background-color: var(--basic-grey-light);
	width: 300%;
	height: 288px;
	left: 0px;
	top: 1192px;
	margin-top: 50px;
	z-index: -1;
}

.button-yellow,
.button-yellow-modal,
.button-filter,
.button-feedback-submit {
	font-family: "Gilroy", Arial, san-serif;
	font-weight: 800;
	font-size: 18px;
	letter-spacing: 0.2em;
	text-align: center;
	text-transform: uppercase;
	border: none;
	background-color: transparent;
}

.catalog-decoration {
	letter-spacing: 0.1em;
	z-index: 2;
}

.catalog-decoration a {
	color: var(--basic-black);
}

.button-yellow-decoration {
	position: relative;
}

.button-yellow::after {
	content: "";
	position: absolute;
	top: 7px;
	left: -35px;
	z-index: -1;
	height: 8px;
	width: 220px;
	background-color: var(--basic-yellow-dark);
}

.button-yellow:hover,
.button-yellow-modal:hover,
.button-filter:hover {
	cursor: pointer;
}

.button-yellow:hover::after {
	content: "";
	position: absolute;
	width: 220px;
	height: 40px;
	top: -10px;
	z-index: -1;
	border: none;
	background-color: var(--basic-yellow-dark);
}

.button-advantage:hover::before {
	content: "";
	position: absolute;
	width: 160px;
	height: 40px;
	z-index: -1;
	top: -10px;
	left: -12px;
	background-color: var(--basic-yellow-dark);
}

.button-advantage:active {
	color: var(--basic-yellow-light);
}

.button-advantage:active::after {
	content: "";
	position: absolute;
	width: 280px;
	height: 40px;
	left: -12px;
	top: -10px;
	z-index: -1;
	background-color: var(--basic-black);
}

.button-current-black::before {
	content: "";
	position: absolute;
	width: 280px;
	height: 40px;
	top: -10px;
	left: -12px;
	z-index: -1;
	background-color: var(--basic-black);
}

.button-current-black {
	color: var(--basic-yellow-light);
}

.button-current-black:hover::before {
	background-color: var(--basic-black);
	width: 280px;
	height: 40px;
}

.button-advantage:focus {
	outline: none;
}

.button-yellow-modal::after {
	content: "";
	position: absolute;
	top: 7px;
	left: -20px;
	z-index: -1;
	height: 8px;
	width: 260px;
	background-color: var(--basic-yellow-dark);
}

.button-yellow-modal:hover::after {
	content: "";
	position: absolute;
	width: 260px;
	height: 40px;
	top: -10px;
	z-index: -1;
	border: none;
	background-color: var(--basic-yellow-dark);
} 

.button-yellow-modal:active,
.button-yellow:active,
.button-feedback-submit:active {
	color: var(--basic-black-opacity);
	outline: none;
}

.button-yellow-modal:focus,
.button-yellow:focus,
.button-filter:focus {
	outline: none;
}

.page-footer {
	height: 324px;
	color: var(--basic-white);
	background-color: var(--basic-dark);
}

.contact-phone {
	color: var(--grey-opacity);
}

/* Catalog */
.nav-menu {
	font-family: "Opensans", Arial, san-serif;
	font-weight: 300;
	font-size: 14px;
	line-height: 19px;
	opacity: 0.3;
}

.catalog-list {
	display: grid;
	grid-template-columns: 1fr 1fr;
	justify-items: end;
	list-style-type: none;
	padding-left: 30px;
	padding-top: 68px;
	margin: 0;
}

.catalog-left-wrapper {
	min-height: 1212px;
}

.catalog-right-wrapper {
	min-height: 1212px;
}

.background-grid-wrapper {
	display: grid;
	grid-template-columns: 34% 66%;
}

.catalog-right-block {
	width: 100px;
	height: 20px;
}

.wrapper-decoration-top {
	background-color: var(--special-grey);
}

.wrapper-decoration-bottom {
	position: relative;
	background-color: var(--basic-grey-light);
	z-index: 0;
	min-height: 1212px;
}
.catalog-left-wrapper .wrapper-decoration-top,
.catalog-left-wrapper .wrapper-decoration-bottom {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}

.catalog-right-wrapper .catalog-top-decoration {
	display: flex;
	flex-direction: column;
}

.catalog-right-wrapper .catalog-bottom-decoration {
	display: flex;
	flex-direction: column;
}

.filter-block .filter-item:nth-child(1) {
	height: 146px;
}

.filter-block .filter-item:nth-child(2) {
	height: 280px;
}

.catalog-top-decoration {
	background-color: var(--basic-grey-light);
}
.catalog-bottom-decoration {
	background-color: var(--basic-white);
}

.filter-block {
	min-width: 240px;
	padding-right: 25px;
	padding-top: 85px;
}

.filter-top-decoration {
	min-width: 266px;
	height: 70px;
}

.filter-up-button,
.filter-down-button {
	border: 0;
	background: transparent;
}

.filter-content-top {
	font-family: "Gilroy", Arial, san-serif;
	font-weight: 800;
	font-size: 16px;
	letter-spacing: 1.2px;
	padding-left: 2px;
	padding-top: 10px;
	text-transform: uppercase;
}

.breadcrumbs-container {
	width: 1040px;
	margin: 0 auto;
	padding-bottom: 46px;
}

.breadcrumbs-catalog {
	font-family: "Opensans", Arial, san-serif;
	font-weight: 300;
	font-size: 14px;
	padding: 0;
	margin: 0;
	list-style-type: none;
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
}

.breadcrumbs-item,
.breadcrumbs-item a {
	color: var(--basic-black-opacity);
}

.breadcrumbs-item a:visited {
	color: var(--basic-black-opacity);
}

.breadcrumbs-catalog li {
	margin-right: 40px;
}

.catalog-top-filter {
	display: flex;
	justify-content: space-between;
	height: 70px;
	max-width: 833px;
}

.catalog-main-block {
	max-width: 833px;
}

.sorting-title {
	font-family: "Gilroy", Arial, san-serif;
	font-weight: 800;
	font-size: 16px;
	letter-spacing: 1.2px;
	margin-left: 70px;
	padding-top: 10px;
	text-transform: uppercase;
}

.sorting-list {
	display: flex;
	justify-content: start;
	margin: 0;
	margin-right: 80px;
	list-style-type: none;
	align-items: center;
	padding: 0;
	border: 0;
	font-family: "Opensans", Arial, san-serif;
	font-weight: 400;
	font-size: 14px;
}

.sorting-list a {
	text-decoration: none;
	color: var(--basic-black);
}

.sorting-item {
	padding-right: 30px;
}

.filter-right-buttons {
	display: flex;
	justify-content: space-between;
	width: 55px;
	height: 60px;
	border: 0;
	margin: 0;
	padding-top: 4px;
}

/* Filters */
.filter-item {
	position: relative;
	width: 200px;
	height: 300px;
	font-family: "Gilroy", Arial, san-serif;
	font-weight: 300;
	font-size: 14px;
	margin: 0;
	padding: 0;
	border: none;
}

.filter-item legend {
	font-family: "Gilroy", Arial, san-serif;
	font-weight: 800;
	font-size: 14px;
}

.range-filter {
	width: 200px;
}

.range-controls {
	position: relative;
	height: 17px;
	padding-top: 39px;
}

.range-controls .scale {
	height: 2px;
	background-color: var(--basic-black-opacity);
}

.range-controls .bar {
	width: 70%;
	height: 2px;
	background-color: var(--special-green);
}

.range-controls .toggle {
	position: absolute;
	top: 31px;
	left: 0;
	width: 4px;
	height: 4px;
	padding: 0;
	background-color: var(--toggle-gray);
	border: 8px solid var(--basic-white);
	border-radius: 50%;
	box-shadow: 0 2px 2px 0 var(--basic-black-opacity);
	cursor: pointer;
}

.range-controls .toggle-min {
	left: 0px;
}

.range-controls .toggle-max {
	left: 120px;
}

.price-controls input {
	width: 60px;
	padding: 10px;
	text-align: left;
	border: none;
	background: var(--basic-grey-light);
}

.min-price input,
.max-price input {
	width: 50px;
	padding: 0;
	margin: 0;
}

.price-controls {
	display: flex;
	justify-content: space-between;
}

.max-price {
	padding-right: 32px;
}

.button-filter {
	padding-top: 40px;
	padding-left: 40px;
}

.button-filter::before {
	content: "";
	position: absolute;
	z-index: -1;
	left: 0;
	top: 166px;
	height: 8px;
	width: 200px;
	background-color: var(--basic-yellow-dark);
}

.button-filter:hover::after {
	content: "";
	position: absolute;
	width: 200px;
	height: 40px;
	z-index: -1;
	top: 149px;
	left: 0px;
	border: none;
	background-color: var(--basic-yellow-dark);
}

.button-filter:active {
	color: var(--basic-black-opacity);
}


/* Grid & Flex */
.catalog-menu {
	width: 1160px;
	height: 146px;
	display: flex;
}

.catalog-menu-block {
	height: 100px;
	padding-right: 60px;
	padding-top: 12px;
}


.catalog-menu-block a {
	text-decoration: none;
}

.container,
.main-header,
.grid-footer-wrapper {
	width: 1160px;
	margin: 0 auto;
	padding: 0 0;
}

.main-header {
	margin-top: 40px;
}

.product-features-1,
.product-features-2,
.product-features-3 {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.features-grid-left {
	margin: 0;
	margin-top: -50px;
	padding-right: 18px;
	display: flex;
	align-items: center;
    justify-content: center;
}

.product-features-2 .features-grid-left {
	padding-top: -25px;
	padding-left: 15px;
}

.button-yellow {
	position: absolute;
	top: -37px;
	left: 34px;
}

.top-sale {
	margin-bottom: 40px;
	margin-top: -83px;
}

.logo-list {
	display: flex;
	justify-content: space-between;
	padding: 0;
	margin: 0;
	border: 0;
}

.main-footer-info {
	position: relative;
	margin-top: 103px;
	display: grid;
	grid-template-columns: 1fr 1fr;
	margin-bottom: 86px;
}

.appointment {
	margin-left: 20px;
}

.main-footer .grid-footer-wrapper {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}

.site-menu {
	display: flex;
	justify-content: space-between;
	padding: 0;
}

.site-menu-container {
	margin-bottom: 98px;
}

.site-menu-caption {
	max-width: 160px;
	padding-top: 19px;
}

.search-page label::before {
	content: "";
	position: absolute;
	width: 16px;
	height: 16px;
	top: 48px;
	left: 63px;
	background-image: url("../img/vector-search.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
}

.header-login li {
	height: 20px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;

}

.search-page input {
	border: 0;
	background-color: var(--basic-yellow-light);
	padding-left: 34px;
	width: 300px;
	height: 36px;
}

.search-page input::placeholder {
	color: var(--special-input-text);
}

.search-page input:hover::placeholder {
	color: var(--special-input-text2);
}

.search-page input:focus {
	color: var(--basic-black);
	border-top: 2px solid transparent;
	border-right: 2px solid transparent;
	border-bottom: 2px solid var(--basic-black);
	outline: none;
}

.search-button {
	position: absolute;
	top: 26px;
	left: 400px;
	font-family: "Opensans", Arial, san-serif;
	font-size: 15px;
	text-transform: uppercase;
	border: 2px solid black;
	background-color: transparent;
	width: 82px;
	height: 48px;
	cursor: pointer;
	display: none;
}

.search-button:active {
	outline: none;
}

.search-page input:focus ~ .search-button {
	display: block;
}

.search-page input:focus ~ .search-button:hover {
	color: var(--basic-white);
	background-color: var(--basic-black);
}

.search-button:active {
	display: block;
	color: var(--grey-opacity);
	background-color: var(--basic-black);
}

.main-header-logo:hover {
	opacity: 0.6;
}

.main-header-logo:active {
	opacity: 0.3;
}

.header-login {
	display: grid;
	grid-template-columns: 4fr 2fr 1fr 1fr;
}

.site-navigation {
	display: grid;
	grid-template-columns: 50% 14% 14% 22%;
	padding-left: 60px;
	padding-right: 56px;
	padding-top: 35px;
}

.site-menu-picture {
	width: 160px;
	height: 160px;
	background-color: var(--basic-yellow-light);
	display: flex;
	justify-content: center;
}

.grid-filter-catalog {
	max-width: 1160px;
	margin: 0 auto;
	display: grid;
	grid-template-columns: 1fr 3fr;
}

.footer-navigation-site {
	width: 423px;
	display: flex;
	justify-content: space-between;
	padding-top: 70px;
}

.footer-login-site {
	width: 325px;
	display: flex;
	justify-content: space-around;
	padding-top: 26px;
}

.footer-social-list {
	width: 136px;
	display: flex;
	justify-content: space-between;
	margin-left: 144px;
	margin-top: 54px;
}

.grid-footer-1 {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.grid-footer-2 {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.grid-footer-3 {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-end;
	padding: 10px;
}

.nav-menu ul {
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	list-style-type: none;
	width: 385px;
}

.advantages-slider-1,
.advantages-slider-2,
.advantages-slider-3 {
	display: grid;
	grid-template-columns: 8fr 1fr;
	padding-left: 400px;
}

.advantage-slide {
	display: none;
}

#advantages-slider-1:checked ~ .advantages-slider-container .advantages-slider-1 {
	display: grid;
}

#advantages-slider-2:checked ~ .advantages-slider-container .advantages-slider-2 {
	display: grid;
}

#advantages-slider-3:checked ~ .advantages-slider-container .advantages-slider-3 {
	display: grid;
}

.advantages-slider-container {
	position: relative;
}

.advantages-control-1,
.advantages-control-2,
.advantages-control-3 {
	cursor: pointer;
}

.advantages-slider-controls {
	position: relative;
}

.advantages-control-1::before {
	content: "Доставка";
	position: absolute;
	font-family: "Gilroy", Arial, san-serif;
	font-weight: 800;
	font-size: 18px;
	z-index: 5;
	top: 58px;
	left: 20px;
	text-transform: uppercase;
	letter-spacing: 4px;
}

.advantages-control-2::before {
	content: "Гарантия";
	position: absolute;
	font-family: "Gilroy", Arial, san-serif;
	font-weight: 800;
	font-size: 18px;
	z-index: 5;
	top: 119px;
	left: 22px;
	text-transform: uppercase;
	letter-spacing: 4px;
}

.advantages-control-3::before {
	content: "Кредит";
	position: absolute;
	font-family: "Gilroy", Arial, san-serif;
	font-weight: 800;
	font-size: 18px;
	z-index: 5;
	top: 181px;
	left: 36px;
	text-transform: uppercase;
	letter-spacing: 4px;
}

.advantages-control-1::after {
	content: "";
	position: absolute;
	top: 63px;
	left: 0;
	width: 160px;
	height: 8px;
	background-color: var(--basic-yellow-dark);
}

.advantages-control-2::after {
	content: "";
	position: absolute;
	top: 125px;
	left: 0;
	width: 160px;
	height: 8px;
	background-color: var(--basic-yellow-dark);
}

.advantages-control-3::after {
	content: "";
	position: absolute;
	top: 187px;
	left: 0;
	width: 160px;
	height: 8px;
	background-color: var(--basic-yellow-dark);
}

.advantages-control-1:hover::before {
	content: "Доставка";
	position: absolute;
}

.advantages-control-1:hover::after {
	content: "";
	position: absolute;
	width: 160px;
	height: 40px;
	top: 48px;
	background-color: var(--basic-yellow-dark);
}

.advantages-control-2:hover::before {
	content: "Гарантия";
	position: absolute;
}

.advantages-control-2:hover::after {
	content: "";
	position: absolute;
	width: 160px;
	height: 40px;
	top: 108px;
	background-color: var(--basic-yellow-dark);
}

.advantages-control-3:hover::before {
	content: "Кредит";
	position: absolute;
}

.advantages-control-3:hover::after {
	content: "";
	position: absolute;
	width: 160px;
	height: 40px;
	top: 171px;
	background-color: var(--basic-yellow-dark);
}

.advantages-control-1:active::before {
	content: "Доставка";
	position: absolute;
	color: var(--basic-yellow-light);
}

.advantages-control-1:active::after {
	content: "";
	position: absolute;
	width: 284px;
	height: 40px;
	top: 48px;
	background-color: var(--basic-black);
}

.advantages-control-2:active::before {
	content: "Гарантия";
	position: absolute;
	color: var(--basic-yellow-light);
}

.advantages-control-2:active::after {
	content: "";
	position: absolute;
	width: 284px;
	height: 40px;
	top: 108px;
	background-color: var(--basic-black);
}

.advantages-control-3:active::before {
	content: "Кредит";
	position: absolute;
	color: var(--basic-yellow-light);
}

.advantages-control-3:active::after {
	content: "";
	position: absolute;
	width: 284px;
	height: 40px;
	top: 171px;
	background-color: var(--basic-black);
}

#advantages-slider-1:checked ~ .advantages-slider-controls .advantages-control-1::before {
	content: "Доставка";
	position: absolute;
	color: var(--basic-yellow-light);
}

#advantages-slider-1:checked ~ .advantages-slider-controls .advantages-control-1::after {
	content: "";
	position: absolute;
	width: 284px;
	height: 40px;
	top: 48px;
	background-color: var(--basic-black);
}

#advantages-slider-2:checked ~ .advantages-slider-controls .advantages-control-2::before {
	content: "Гарантия";
	position: absolute;
	color: var(--basic-yellow-light);
}

#advantages-slider-2:checked ~ .advantages-slider-controls .advantages-control-2::after {
	content: "";
	position: absolute;
	width: 284px;
	height: 40px;
	top: 108px;
	background-color: var(--basic-black);
}

#advantages-slider-3:checked ~ .advantages-slider-controls .advantages-control-3::before {
	content: "Кредит";
	position: absolute;
	color: var(--basic-yellow-light);
}

#advantages-slider-3:checked ~ .advantages-slider-controls .advantages-control-3::after {
	content: "";
	position: absolute;
	width: 284px;
	height: 40px;
	top: 171px;
	background-color: var(--basic-black);
}

.advantages-slider-controls::before {
	content: "";
	position: absolute;
	left: 277px;
	top: -32px;
	width: 7px;
	height: 320px;
	background-color: var(--basic-black);
}

.about-us .button-yellow-decoration {
	margin-left: 20px;
	margin-top: 26px;
}

.appointment .button-yellow-decoration {
	margin-top: 80px;
	margin-left: 20px;
}

.appointment .button-yellow-modal {
	padding-left: 20px;
}

.appointment .main-info {
	padding-bottom: 26px;
}

/* Decoration */
.grid-footer-1 .main-header-logo {
	margin-top: 50px;
}

.main-header .main-header-logo {
	position: absolute;
	top: 20px;
	margin-left: 60px;
	z-index: 7;
}

.header-navigation,
.header-login {
	padding-top: 14px;
	padding-left: 32px;
}

.header-icon {
	position: relative;
	padding-right: 12px;
}

.site-navigation li:nth-child(2),
.site-navigation li:nth-child(3),
.site-navigation li:nth-child(4) {
	text-align: right;
}

.product-features-1 .features-grid-right::after {
	content: "01";
	position: absolute;
	top: 37px;
	right: 47px;
	color: var(--basic-white);
	font-family: "Gilroy", Arial, san-serif;
	font-weight: 800;
	font-size: 179px;
}

.product-features-2 .features-grid-right::after {
	content: "02";
	position: absolute;
	top: 36px;
	right: 54px;
	color: var(--basic-white);
	font-family: "Gilroy", Arial, san-serif;
	font-weight: 800;
	font-size: 179px;
}

.product-features-3 .features-grid-right::after {
	content: "03";
	position: absolute;
	top: 36px;
	right: 53px;
	color: var(--basic-white);
	font-family: "Gilroy", Arial, san-serif;
	font-weight: 800;
	font-size: 179px;
	z-index: 0;
}

.product-features-1 .features-grid-right::before {
	content: "";
	position: absolute;
	width: 100px;
	height: 7px;
	top: -12px;
	right: 460px;
	background-color: var(--basic-white);
}

.product-features-2 .features-grid-right::before {
	content: "";
	position: absolute;
	width: 100px;
	height: 7px;
	top: -12px;
	right: 460px;
	background-color: var(--basic-white);
}

.product-features-3 .features-grid-right::before {
	content: "";
	position: absolute;
	width: 100px;
	height: 7px;
	top: -12px;
	right: 460px;
	background-color: var(--basic-white);
}

.features-grid-right {
	padding-left: 20px;
}

.advantage-image {
	width: 136px;
	height: 164px;
	padding-top: 38px;
	margin-bottom: 220px;
}

.catalog-decoration {
	position: relative;
}

.catalog-hover-menu::before {
	content: "";
	position: absolute;
	width: 22px;
	height: 22px;
	left: 208px;
	background-image: url("../img/icon_plus.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
}

.catalog-hover-menu::after {
	content: "";
	position: absolute;
	width: 40px;
	height: 22px;
	left: 190px;
}

.catalog-menu-block a:visited {
	color: var(--basic-black);
}

.site-menu-block:hover .site-menu-picture {
	background-color: var(--basic-yellow-dark);
}

.site-menu-block:active h3 {
	opacity: 0.3;
}

.site-menu-block:active img {
	opacity: 0.3;
}

.logo-list img {
	filter: grayscale(100%);
	opacity: 0.3;
}

.logo-list img:hover {
	opacity: 1;
	filter: grayscale(0%);
}

.main-footer-info .large-title::before {
	content: "";
	position: absolute;
	width: 80px;
	height: 7px;
	top: -18px;
	background-color: var(--basic-black);
}

.main-info {
	font-family: "Opensans", Arial, san-serif;
	font-weight: 300;
	font-size: 15px;
	line-height: 28px;
	padding-bottom: 20px;
}

.header-navigation {
	position: relative;
}

.catalog-menu {
	font-family: "Opensans", Arial, san-serif;
	font-weight: 300;
	font-size: 15px;
	line-height: 20px;
	letter-spacing: 0;
	text-transform: none;
}

.catalog-menu::before {
	content: "";
	position: absolute;
	width: 1160px;
	height: 165px;
	right: 60px;
	background-color: var(--basic-yellow-light);
	z-index: -2;
}

.filter-option label {
	position: relative;
	display: block;
	cursor: pointer;
	user-select: none;
}

.filter-option,
.radio-list {
	list-style-type: none;
}

.radio-item {
	margin-top: 23px;
}

.filter-input-checkbox + label::before {
	content: "";
	position: absolute;
	left: -42px;
	top: 0;
	width: 20px;
	height: 20px;
	border: 2px solid #000000;
}

.filter-input-checkbox:checked + label::after {
	content: "";
	position: absolute;
	top: 5px;
	left: -37px;
	width: 13px;
	height: 13px;
	background-image: url("../img/checkbox.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
}

.radio-item {
	position: relative;
}

.filter-input-radio + label::before {
	content: "";
	position: absolute;
	left: -42px;
	top: 0px;
	width: 20px;
	height: 20px;
	border: 2px solid var(--basic-black);
	border-radius: 50%;
}

.filter-input-radio:checked + label::after {
	content: "";
	position: absolute;
	top: 8px;
	left: -34px;
	width: 8px;
	height: 8px;
	background-color: var(--basic-black);
	border-radius: 50%;
}

.product-info {
	display: flex;
	justify-content: space-between;
	padding-bottom: 32px;
	padding-top: 10px;
}

.product-name {
	font-family: "Gilroy", Arial, san-serif;
	font-weight: 800;
	font-size: 18px;
	letter-spacing: 1px;
}

.product-info .product-name {
	width: 270px;
}

.product-price {
	font-family: "Gilroy", Arial, san-serif;
	font-weight: 300;
	font-size: 16px;
	line-height: 15px;
	letter-spacing: 0.1em;
	padding-top: 4px;
}

.pagination-wrapper {
	height: 70px;
	margin-left: 71px;
	margin-top: -16px;
	background-color: var(--basic-grey-light);
}

.pagination-list {
	list-style-type: none;
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 23px;
	margin: 0;
	display: flex;
	justify-content: space-between;
}

.pagination-pages {
	display: flex;
	justify-content: space-between;
	width: 90px;
}

.pagintaion-list li:nth-child(1) {
	padding-left: 50px;
}

.pagination-item a {
	display: block;
	font-family: "Gilroy", Arial, san-serif;
	font-weight: 800;
	font-size: 16px;
	text-transform: uppercase;
	letter-spacing: 1px;
}

.filter-decoration {
	letter-spacing: 1px;
}

.filter-decoration::before {
	content: "";
	position: absolute;
	top: -15px;
	width: 200px;
	height: 2px;
	background-color: var(--basic-black);
}

.footer-contacts {
	font-family: "Opensans", Arial, san-serif;
	font-weight: 300;
	font-size: 15px;
	color: var(--grey-opacity);
	line-height: 20px;
	height: 120px;
}

.grid-footer-1 {
	position: relative;
}

.footer-contacts::before {
	content: "";
	position: absolute;
	width: 80px;
	height: 7px;
	background-color: var(--special-yellow);
	bottom: 36px;
}

.footer-icon {
	padding-right: 10px;
}

.footer-login-site {
	display: flex;
	justify-content: space-between;
}

.grid-footer-2 {
	margin-top: 52px;
	margin-right: -14px;
}

.filter-items li {
	padding-top: 18px;
}

/* Slider */
.slide-feature {
	display: none;
}

.slider-container {
	position: relative;
	margin-bottom: 116px;
}

.input-slider-features,
.advantages-input-slider {
	display: none;
}

#radio-slider-1:checked ~ .top-sale .product-features-1 {
	display: grid;
}

#radio-slider-2:checked ~ .top-sale .product-features-2 {
	display: grid;
}

#radio-slider-3:checked ~ .top-sale .product-features-3 {
	display: grid;
}

.label-control-1 {
	position: absolute;
	right: 160px;
	bottom: 149px;
}

.label-control-2 {
	position: absolute;
	right: 130px;
	bottom: 149px;
}

.label-control-3 {
	position: absolute;
	right: 100px;
	bottom: 149px;
}

.label-control-1::before,
.label-control-2::before,
.label-control-3::before {
	content: "";
	position: absolute;
	width: 10px;
	height: 10px;
	border: 1px solid var(--basic-black);
	border-radius: 50%;
	background-color: transparent;
	cursor: pointer;
}

#radio-slider-1:checked ~ .label-control-1::after {
	content: "";
	position: absolute;
	top: 3px;
	left: 3px;
	width: 4px;
	height: 4px;
	border: 1px solid var(--basic-black);
	border-radius: 50%;
	background-color: transparent;
	cursor: pointer;
}

#radio-slider-2:checked ~ .label-control-2::after {
	content: "";
	position: absolute;
	top: 3px;
	left: 3px;
	width: 4px;
	height: 4px;
	border: 1px solid var(--basic-black);
	border-radius: 50%;
	background-color: transparent;
	cursor: pointer;
}

#radio-slider-3:checked ~ .label-control-3::after {
	content: "";
	position: absolute;
	top: 3px;
	left: 3px;
	width: 4px;
	height: 4px;
	border: 1px solid var(--basic-black);
	border-radius: 50%;
	background-color: transparent;
	cursor: pointer;
}

.product-features-3 .slider-features {
	z-index: 1;
}

.catalog-menu {
	display: none;
}

.catalog-hover-menu:hover ~ .catalog-menu {
	display: flex;
}

.catalog-menu:hover {
	display: flex;
}

.catalog-menu {
	position: absolute;
	z-index: 1;
}

.catalog-menu:hover {
	display: flex;
}

.slider-features {
	position: relative;
	margin: 0;
	padding-top: 47px;
	padding-bottom: 10px;
}

.slider-property {
	padding-bottom: 83px;
}

.button-current::before {
	content: "";
	position: absolute;
	top: 2px;
	left: 2px;
	width: 4px;
	height: 4px;
	border: 1px solid var(--basic-black);
	border-radius: 50%;
	background-color: transparent;
}

.product-features-3 .features-grid-left {
	padding-top: 13px;
	padding-left: 24px;
}

.features-flex-container {
	display: flex;
	justify-content: space-between;
	width: 446px;
}

.features-container-1,
.features-container-2,
.features-container-3 {
	display: flex;
	flex-direction: column;
	margin-top: 45px;
}

.features-flex-container span:first-child {
	font-family: "Gilroy", Arial, san-serif;
	font-weight: 300;
	font-size: 36px;
	line-height: 42px;
	letter-spacing: 0.1em;
}

.features-flex-container span:last-child {
	font-family: "Gilroy", Arial, san-serif;
	font-weight: 300;
	font-size: 13px;
	line-height: 15px;
	letter-spacing: 0.1em;
	padding-top: 15px;
}

.product-features-3 .features-container-2 {
	padding-right: 120px;
}

/* Hidden */
.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* Modal */
.modal {
	display: none;
	position: absolute;
}

.modal-map {
	top: 10px;
	bottom: auto;
	margin-top: 50px;
	margin-left: 80px;
	width: 994px;
	height: 593px;
    box-shadow: 0 15px 30px -15px var(--basic-dark);
}

.modal-show {
	display: block;
}

.modal-feedback {
	width: 960px;
	height: 550px;
	top: 60px;
	left: 120px;
	background-color: var(--basic-white);
	box-shadow: 0 15px 30px -15px var(--basic-dark);
}

.modal-close-button,
.map-close-button {
	position: absolute;
	top: 19px;
	right: 18px;
	background-color: var(--basic-yellow-light);
	opacity: 0.5;
	cursor: pointer;
	border: 0;
	width: 55px;
	height: 55px;
	border-radius: 50%;
	outline: none;
}

.modal-close-button::before,
.modal-close-button::after,
.map-close-button::before,
.map-close-button::after {
	content: "";
	position: absolute;
	top: 26px;
	left: 15px;
	width: 25px;
	height: 3px;
	background-color: var(--basic-white);
}

.modal-close-button::before,
.map-close-button::before {
	transform: rotate(45deg);
}

.modal-close-button::after,
.map-close-button::after {
	transform: rotate(-45deg);
}

.modal-close-button:hover,
.map-close-button:hover {
	background-color: var(--basic-yellow-dark);
	opacity: 1;
}

.modal-close-button:active,
.map-close-button:active {
	opacity: 0.3;
}

.feedback-form label {
	font-family: "Gilroy", Arial, san-serif;
	font-weight: 800;
	font-size: 18px;
	line-height: 22px;
}

.feedback-form {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.feed-name,
.feed-email {
	width: 330px;
	height: 22px;
	border: 0;
	background-color: var(--special-input);
	border: 13px solid var(--special-input);
	margin-top: 10px;
}

.feed-text {
	width: 730px;
	height: 138px;
	border: 0;
	background-color: var(--special-input);
	border: 13px solid var(--special-input);
	margin-top: 10px;
	max-height: 190px;
	max-width: 730px;
}

.feedback-block-1 {
	display: flex;
	justify-content: space-between;
	padding-left: 100px;
	padding-right: 100px;
	padding-top: 90px;
}

.feedback-block-1 div {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.feedback-block-2 {
	position: relative;
	display: flex;
	flex-direction: column;
	padding-left: 100px;
	padding-top: 33px;
}

.feed-name::placeholder,
.feed-text::placeholder,
.feed-email::placeholder {
	color: var(--special-input-text);
	font-family: "Opensans", Arial, san-serif;
	font-size: 14px;
	font-weight: 400;
}

.button-feedback-submit {
	margin-top: 53px;
	width: 200px;
	z-index: 0;
	cursor: pointer;
	outline: none;
}

.button-feedback-submit::before {
	content: "";
	position: absolute;
	bottom: 7px;
	left: 100px;
	height: 8px;
	width: 200px;
	background-color: var(--basic-yellow-dark);
	z-index: -1;
}

.button-feedback-submit:hover::after {
	content: "";
	position: absolute;
	bottom: -8px;
	left: 100px;
	height: 40px;
	width: 200px;
	background-color: var(--basic-yellow-dark);
	z-index: -1;
}

.feed-name:focus,
.feed-text:focus,
.feed-email:focus {
	color: black;
	background-color: var(--basic-white);
	border: 13px solid var(--basic-white);
	outline: 2px solid var(--basic-yellow-light);
	border-radius: 0;
}

.html-logo:hover {
	opacity: 0.6;
	cursor: pointer;
}

.html-logo:active {
	opacity: 0.3;
}

.social-button {
	opacity: 0.6;
}

.social-button:hover {
	opacity: 1;
}

.social-button:active {
	opacity: 0.3;
}