/* Fonts */
@font-face {
	font-family: "Gilroy";
	font-style: normal;
	font-weight: 800;
	src: local("Gilroy"), 
	url("../fonts/gilroyextrabold.woff2") format("woff2"), 
	url("../fonts/gilroyextrabold.woff") format("woff");
}

@font-face {
	font-family: "Gilroy";
	font-style: normal;
	font-weight: 300;
	src: local("Gilroy"),
	url("../fonts/gilroylight.woff2") format("woff2"),
	url("../fonts/gilroylight.woff") format("woff");
}

@font-face {
	font-family: "Opensans";
	src: local("Opensans"),
	url("../fonts/opensans.woff2") format("woff2"),
	url("../fonts/opensans.woff") format("woff");
}

@font-face {
	font-family: "Opensans";
	src: local("Opensans"),
	url("../fonts/opensanslight.woff2") format("woff2"),
	url("../fonts/opensanslight.woff") format("woff");
}

/* Custom */
:root {
	--basic-black: #000000;
	--basic-dark: #363636;
	--basic-grey: #464646;
	--basic-half-grey: #7E7E7E;
	--basic-grey-light: #E5E5E5;
	--basic-white: #FFFFFF;
	--basic-yellow-dark: #F0C52E;
	--basic-yellow-light: #F7E296;
	--special-green: #91C92F;
	--basic-pink: #F6DADA;
	--grey-opacity: rgba(255, 255, 255, 0.6);
	--grey-half-opacity: rgba(255, 255, 255, 0.3);
}

/* Global */
body {
	min-width: 1160px;
	margin: 0;
	padding: 0;
	font-family: "Open-sans", Arial, san-serif;
	font-style: normal;
	font-weight: 300;
	font-size: 15px;
	line-height: 20px;
	color: var(--basic-black);
}

.page a {
	text-decoration: none;
}

.page {
	height: 100%;
}

.page-body {
	min-height: 100%;
	display: grid;
	grid-template-rows: min-content 1fr min-content;
	overflow-x: hidden;
}

img {
	max-width: 100%;
	height: auto;
}

/* Navigation */
.site-navigation,
.main-navigation,
.features-list {
	margin: 0;
	padding: 0;
	list-style-type: none;
	font-family: "Gilroy", Arial, san-serif;
	font-weight: 800;
	font-size: 18px;
	line-height: 22px;
	letter-spacing: 0.2em;
	text-transform: uppercase;
}

.site-navigation a:hover,
.site-navigation a:focus,
.main-navigation a:hover,
.main-navigation a:focus {
	color: var(--basic-black);
	opacity: 0.6;
}

.site-navigation a:active,
.main-navigation a:active {
	opacity: 0.3;
}

.site-navigation a:visited,
.main-navigation a:visited,
.header-login a:visited {
	color: var(--basic-black);
}

.header-login,
.footer-login-site {
	list-style-type: none;
}

.header-login {
	font-family: "Opensans", Arial, san-serif;
	font-weight: 300;
	font-size: 15px;
	line-height: 20px;
}

.header-login a:hover {
	opacity: 0.6;
}

.header-login a:active {
	opacity: 0.3;
}

.footer-login-site a {
	font-family: "Opensans", Arial, san-serif;
	font-weight: 300;
	font-size: 15px;
	line-height: 20px;
	color: var(--grey-opacity);
}

.footer-login-site a:hover {
	color: var(--basic-white);
}

.footer-login-site a:active {
	color: var(--grey-half-opacity);
}

.footer-navigation-site a {
	font-family: "Gilroy", Arial, san-serif;
	font-weight: 800;
	font-size: 18px;
	line-height: 22px;
	text-transform: uppercase;
	color: var(--basic-white);
}

.footer-navigation-site a:hover {
	opacity: 0.6;
}

.footer-navigation-site a:active {
	opacity: 0.3;
}

.footer-navigation-site {
	list-style-type: none;
	letter-spacing: 0.2em;
}

.footer-login-site:hover {
	color: var(--basic-white);
}

/* Main */
.slider-features {
	font-family: "Gilroy", Arial, san-serif;
	font-weight: 800;
	font-size: 47px;
	line-height: 58px;
}

.slider-property,
.small-info {
	font-family: "Opensans";
	font-weight: 300;
	font-size: 15px;
	line-height: 20px;
}

.product-features-value {
	font-family: "Gilroy", Arial, san-serif;
	font-weight: 300;
	font-size: 36px;
	line-height: 42px;
	letter-spacing: 0.1em;
}

.product-features-property {
	font-family: "Gilroy", Arial, san-serif;
	font-weight: 300;
	font-size: 13px;
	line-height: 15px;
	letter-spacing: 0.1em;
}

.product-features-value span,
.product-features-property span {
	padding: 25px;
}

.site-menu,
.catalog-list {
	list-style-type: none;
	font-family: "Gilroy", Arial, san-serif;
	font-weight: 800;
	font-size: 18px;
	line-height: 22px;
}

.site-menu a:visited {
	color: var(--basic-black);
}

.large-title {
	font-family: "Gilroy", Arial, san-serif;
	font-weight: 800;
	font-size: 47px;
	line-height: 58px;
	letter-spacing: 0.2em;
}

.logo-list,
.footer-social-list {
	list-style-type: none;
}

.company-list {
	font-family: "Gilroy", Arial, san-serif;
	font-weight: 800;
	font-size: 16px;
	line-height: 28px;
}

.main-header {
	height: 300px;
	background-color: var(--basic-yellow-light);
}

.inner-header {
	height: 186px;
}

.features::before {
	content: "";
	position: absolute;
	z-index: -1;
	background-color: var(--basic-grey-light);
	width: 300%;
	height: 288px;
	left: 0px;
	margin-top: 50px;
}

.button-yellow,
.button-features {
	font-family: "Gilroy", Arial, san-serif;
	font-weight: 800;
	font-size: 18px;
	letter-spacing: 0.2em;
	text-align: center;
	text-transform: uppercase;
	background-color: var(--basic-yellow-dark);
	border: none;
	height: 8px;
	width: 220px;
}

.button-yellow::before {
	content: "";
	position: absolute;
	z-index: -1;
	height: 8px;
	width: 220px;
	background-color: var(--basic-yellow-dark);
}

.button-features {
	width: 160px;
	}

.page-footer {
	height: 324px;
	color: var(--basic-white);
	background-color: var(--basic-dark);
}

.button-yellow:hover::before,
.button-features:hover::before {
	content: "";
	height: 40px; 
	position: absolute;
	background-color: var(--basic-yellow-dark);
}

.button-yellow:active,
.button-features:active {
	opacity: 0.5;
}

.contact-phone {
	color: inherit;
}

/* Catalog */
.nav-menu {
	font-family: "Opensans", Arial, san-serif;
	font-weight: 300;
	font-size: 14px;
	line-height: 19px;
	opacity: 0.3;
}

.catalog-list {
	display: grid;
	grid-template-columns: 1fr 1fr;
	list-style-type: none;
	margin: 0;
}

.grid-filter {
	width: 200px;
	height: 600px;
	outline: 2px solid tomato;
}

/* Grid & Flex */
.container,
.main-header,
.grid-footer-wrapper {
	width: 1160px;
	margin: 0 auto;
	padding: 0 10px;
}

.main-header {
	margin-top: 40px;
}

.product-features-1 {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.features-grid-left {
	margin: 0 70px;
}

.top-sale {
	margin-bottom: 70px;
	margin-top: -83px;
}

.logo-list {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
}

.main-footer-info {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.main-footer .grid-footer-wrapper {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}

.site-menu {
	display: flex;
	justify-content: space-between;
	margin-bottom: 200px;
	padding: 0;
}

.header-login {
	display: grid;
	grid-template-columns: 4fr 2fr 1fr 1fr;
}

.site-navigation {
	display: grid;
	grid-template-columns: 4fr 1fr 1fr 2fr;
	padding-left: 60px;
	padding-top: 35px;
}

.site-menu div:first-of-type {
	width: 160px;
	height: 160px;
	background-color: var(--basic-yellow-light);
	display: flex;
	justify-content: center;
}

.grid-filter-catalog {
	display: grid;
	grid-template-columns: 1fr 3fr;
}

.footer-navigation-site {
	width: 423px;
	display: flex;
	justify-content: space-between;
	padding-top: 70px;
}

.footer-login-site {
	width: 325px;
	display: flex;
	justify-content: space-around;;
}

.footer-social-list {
	width: 136px;
	display: flex;
	justify-content: space-between;

}

.grid-footer-1 {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.grid-footer-2 {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.grid-footer-3 {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-end;
	padding: 10px;
}

.nav-menu ul {
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	list-style-type: none;
	width: 385px;
}

.grid-footer-1 .main-header-logo {
	padding-top: 56px;
}

.main-header .main-header-logo {
	position: absolute;
	top: 20px;
	margin-left: 60px;
}

.header-navigation,
.header-login {
	padding-top: 16px;
	padding-left: 30px;
}

.header-icon {
	position: relative;
	padding-right: 12px;
}

.site-navigation li:nth-child(4) {
	padding-left: 103px;
}

.site-navigation li:nth-child(3) {
	padding-left: 20px;
}