/* Fonts */
@font-face {
	font-family: "Gilroy";
	font-style: normal;
	font-weight: 800;
	src: local("Gilroy"), 
	url("../fonts/gilroyextrabold.woff2") format("woff2"), 
	url("../fonts/gilroyextrabold.woff") format("woff");
}

@font-face {
	font-family: "Gilroy";
	font-style: normal;
	font-weight: 300;
	src: local("Gilroy"),
	url("../fonts/gilroylight.woff2") format("woff2"),
	url("../fonts/gilroylight.woff") format("woff");
}

@font-face {
	font-family: "Opensans";
	src: local("Opensans"),
	url("../fonts/opensans.woff2") format("woff2"),
	url("../fonts/opensans.woff") format("woff");
}

@font-face {
	font-family: "Opensans";
	src: local("Opensans"),
	url("../fonts/opensanslight.woff2") format("woff2"),
	url("../fonts/opensanslight.woff") format("woff");
}

/* Custom */
:root {
	--basic-black: #000000;
	--basic-dark: #363636;
	--basic-grey: #464646;
	--basic-half-grey: #7E7E7E;
	--basic-grey-light: #E5E5E5;
	--basic-white: #FFFFFF;
	--basic-yellow-dark: #F0C52E;
	--basic-yellow-light: #F7E296;
	--special-green: #91C92F;
	--basic-pink: #F6DADA;
	--grey-opacity: rgba(255, 255, 255, 0.6);
	--grey-half-opacity: rgba(255, 255, 255, 0.3);
	--basic-black-opacity: rgba(0, 0, 0, 0.2);
	--toggle-gray: #C4C4C4;
}

/* Global */
body {
	min-width: 1160px;
	margin: 0;
	padding: 0;
	font-family: "Open-sans", Arial, san-serif;
	font-style: normal;
	font-weight: 300;
	font-size: 15px;
	line-height: 20px;
	color: var(--basic-black);
}

.page a {
	text-decoration: none;
}

.page {
	height: 100%;
}

.page-body {
	min-height: 100%;
	display: grid;
	grid-template-rows: min-content 1fr min-content;
	overflow-x: hidden;
}

img {
	max-width: 100%;
	height: auto;
}

/* Navigation */
.site-navigation,
.main-navigation,
.advantages-list {
	margin: 0;
	padding: 0;
	list-style-type: none;
	font-family: "Gilroy", Arial, san-serif;
	font-weight: 800;
	font-size: 18px;
	line-height: 22px;
	letter-spacing: 0.2em;
	text-transform: uppercase;
}

.site-navigation a:hover,
.site-navigation a:focus,
.main-navigation a:hover,
.main-navigation a:focus {
	color: var(--basic-black);
	opacity: 0.6;
}

.site-navigation a:active,
.main-navigation a:active {
	opacity: 0.3;
}

.site-navigation a:visited,
.main-navigation a:visited,
.header-login a:visited {
	color: var(--basic-black);
}

.header-login,
.footer-login-site {
	list-style-type: none;
}

.header-login {
	font-family: "Opensans", Arial, san-serif;
	font-weight: 300;
	font-size: 15px;
	line-height: 20px;
}

.header-login a:hover {
	opacity: 0.6;
}

.header-login a:active {
	opacity: 0.3;
}

.footer-login-site a {
	font-family: "Opensans", Arial, san-serif;
	font-weight: 300;
	font-size: 15px;
	line-height: 20px;
	color: var(--grey-opacity);
}

.footer-login-site a:hover {
	color: var(--basic-white);
}

.footer-login-site a:active {
	color: var(--grey-half-opacity);
}

.footer-navigation-site a {
	font-family: "Gilroy", Arial, san-serif;
	font-weight: 800;
	font-size: 18px;
	line-height: 22px;
	text-transform: uppercase;
	color: var(--basic-white);
}

.footer-navigation-site a:hover {
	opacity: 0.6;
}

.footer-navigation-site a:active {
	opacity: 0.3;
}

.footer-navigation-site {
	list-style-type: none;
	letter-spacing: 0.2em;
}

.footer-login-site:hover {
	color: var(--basic-white);
}

/* Main */
.slider-features {
	font-family: "Gilroy", Arial, san-serif;
	font-weight: 800;
	font-size: 47px;
	line-height: 58px;
}

.slider-property,
.small-info,
.catalog-menu {
	font-family: "Opensans";
	font-weight: 300;
	font-size: 15px;
}

.small-info {
	line-height: 28px;
	letter-spacing: 1px;
}

.product-features-value {
	font-family: "Gilroy", Arial, san-serif;
	font-weight: 300;
	font-size: 36px;
	line-height: 42px;
	letter-spacing: 0.1em;
	padding-bottom: 15px;
	margin-top: 60px;
}

.product-features-property {
	font-family: "Gilroy", Arial, san-serif;
	font-weight: 300;
	font-size: 13px;
	line-height: 15px;
	letter-spacing: 0.1em;
}

.product-features-value span,
.product-features-property span {
	margin-right: 70px;
}

.site-menu,
.catalog-list {
	list-style-type: none;
	font-family: "Gilroy", Arial, san-serif;
	font-weight: 800;
	font-size: 18px;
	line-height: 22px;
}

.site-menu a:visited {
	color: var(--basic-black);
}

.large-title {
	font-family: "Gilroy", Arial, san-serif;
	font-weight: 800;
	font-size: 47px;
	line-height: 58px;
	letter-spacing: 0.2em;
}

.site-navigation {
	position: relative;
}

.rectangle-decoration::before {
	content: "";
	position: absolute;
	width: 100px;
	height: 7px;
	left: 608px;
	top: 125px;
	background-color: var(--basic-white);

}

.advantage-name {
	position: relative;
}

.rectangle-decoration-2::after {
	content: "";
	position: absolute;
	top: -55px;
	left: 261px;
	width: 7px;
	height: 320px;
	background-color: var(--basic-black);

}

.logo-list,
.footer-social-list {
	list-style-type: none;
}

.company-list {
	font-family: "Gilroy", Arial, san-serif;
	font-weight: 800;
	font-size: 16px;
	line-height: 28px;
}

.main-header {
	height: 300px;
	background-color: var(--basic-yellow-light);
}

.inner-header {
	height: 186px;
}

.advantages::before {
	content: "";
	position: absolute;
	background-color: var(--basic-grey-light);
	width: 300%;
	height: 288px;
	left: 0px;
	margin-top: 50px;
	z-index: -1;
}

.button-yellow,
.button-advantage,
.button-yellow-modal {
	font-family: "Gilroy", Arial, san-serif;
	font-weight: 800;
	font-size: 18px;
	letter-spacing: 0.2em;
	text-align: center;
	text-transform: uppercase;
	border: none;
	background-color: transparent;
}

.advantage-item {
	margin-bottom: 50px;
	position: relative;
}

.advantage-item::before {
	content: "";
	position: absolute;
	z-index: -1;
	top: 8px;
	width: 160px;
	height: 8px;
	background-color: var(--basic-yellow-dark);
}


.catalog-decoration {
	letter-spacing: 0.1em;

}

.button-yellow-decoration {
	position: relative;
}

.button-yellow::after {
	content: "";
	position: absolute;
	top: 7px;
	left: -35px;
	z-index: -1;
	height: 8px;
	width: 220px;
	background-color: var(--basic-yellow-dark);
}

.button-yellow:hover,
.button-advantage:hover,
.button-yellow-modal:hover {
	cursor: pointer;
}

.button-yellow:hover::after {
	content: "";
	position: absolute;
	width: 220px;
	height: 40px;
	top: -10px;
	z-index: -1;
	border: none;
	background-color: var(--basic-yellow-dark);
}

.button-advantage:hover::before {
	content: "";
	position: absolute;
	width: 160px;
	height: 40px;
	z-index: -1;
	top: -10px;
	left: -12px;
	background-color: var(--basic-yellow-dark);
}

.button-advantage:active {
	color: var(--basic-yellow-light);
}

.button-advantage:active::after {
	content: "";
	position: absolute;
	width: 280px;
	height: 40px;
	left: -12px;
	top: -10px;
	z-index: -1;
	background-color: var(--basic-black);
}



.button-current-black::before {
	content: "";
	position: absolute;
	width: 280px;
	height: 40px;
	top: -10px;
	left: -12px;
	z-index: -1;
	background-color: var(--basic-black);

}

.button-current-black {
	color: var(--basic-yellow-light);
}

.button-current-black:hover::before {
	background-color: var(--basic-black);
	width: 280px;
	height: 40px;
}

.button-advantage:focus {
	outline: none;
}

.button-yellow-modal::after {
	content: "";
	position: absolute;
	top: 7px;
	left: -20px;
	z-index: -1;
	height: 8px;
	width: 260px;
	background-color: var(--basic-yellow-dark);
}

.button-yellow-modal:hover::after {
	content: "";
	position: absolute;
	width: 260px;
	height: 40px;
	top: -10px;
	z-index: -1;
	border: none;
	background-color: var(--basic-yellow-dark);
} 

.button-yellow-modal:active {
	color: var(--basic-black-opacity);
	outline: none;
}

.button-yellow-modal:focus {
	outline: none;
}

.modal-2 {
	padding-left: 20px;
}

.page-footer {
	height: 324px;
	color: var(--basic-white);
	background-color: var(--basic-dark);
}

.button-yellow:active {
	color: var(--basic-black-opacity);
	outline: none;
}

.button-yellow:focus {
	outline: none;
}

.contact-phone {
	color: inherit;
}

/* Catalog */
.nav-menu {
	font-family: "Opensans", Arial, san-serif;
	font-weight: 300;
	font-size: 14px;
	line-height: 19px;
	opacity: 0.3;
}

.catalog-list {
	display: grid;
	grid-template-columns: 1fr 1fr;
	list-style-type: none;
	margin: 0;
}
/* Filters */
.filter-item {
	width: 200px;
	height: 600px;
	outline: 2px solid tomato;
	font-family: "Gilroy", Arial, san-serif;
	font-weight: 300;
	font-size: 14px;
	margin: 0;
	padding: 0;
	border: none;
}

.filter-item legend {
	font-family: "Gilroy", Arial, san-serif;
	font-weight: 800;
	font-size: 14px;
}

.range-filter {
	width: 200px;
	margin-top: 25px;
}

.range-controls {
	position: relative;
	height: 41px;
	margin-bottom: 10px;
	padding-top: 39px;
	padding-right: 20px;
	padding-left: 20px;
	background-color: tomato;
}

.range-controls .scale {
	height: 2px;
	background-color: var(--basic-black-opacity);

}

.range-controls .bar {
	width: 70%;
	height: 2px;
	background-color: var(--special-green);
}

.range-controls .toggle {
	position: absolute;
	top: 31px;
	left: 0;
	width: 4px;
	height: 4px;
	padding: 0;
	background-color: var(--toggle-gray);
	border: 8px solid var(--basic-white);
	border-radius: 50%;
	box-shadow: 0 2px 2px 0 var(--basic-black-opacity);
	cursor: pointer;
}

.range-controls .toggle-min {
	left: 18px;
}

.range-controls .toggle-max {
	left: 120px;
}

.price-controls input {
	width: 60px;
	padding: 10px;
	text-align: center;
	border: none;
}

.min-price input,
.max-price input {
	width: 50px;
	padding: 0;
	margin: 0;
}

.price-controls {
	display: flex;
	justify-content: space-between;
}

.max-price {
	padding-right: 35px;
}

/* Grid & Flex */
.catalog-menu {
	width: 1160px;
	height: 146px;
	display: flex;
	flex-direction: row;
	justify-content: start;
	flex-wrap: wrap;
}

.catalog-menu-block div {
	padding-bottom: 14px;
}

.catalog-menu-block {
	margin-top: 25px;
	margin-left: 60px;
}

.catalog-menu-block a {
	text-decoration: none;
}

.container,
.main-header,
.grid-footer-wrapper {
	width: 1160px;
	margin: 0 auto;
	padding: 0 10px;
}

.main-header {
	margin-top: 40px;
}

.product-features-1,
.product-features-2,
.product-features-3 {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.features-grid-left {
	margin: 0;
	margin-top: -110px;
	display: flex;
	align-items: center;
    justify-content: center;
}

.top-sale {
	margin-bottom: 40px;
	margin-top: -83px;
}

.logo-list {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
}

.main-footer-info {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.main-footer .grid-footer-wrapper {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}

.site-menu {
	display: flex;
	justify-content: space-between;
	margin-bottom: 200px;
	padding: 0;
}

.header-login {
	display: grid;
	grid-template-columns: 4fr 2fr 1fr 1fr;
}

.site-navigation {
	display: grid;
	grid-template-columns: 4fr 1fr 1fr 2fr;
	padding-left: 60px;
	padding-top: 35px;
}

.site-menu div:first-of-type {
	width: 160px;
	height: 160px;
	background-color: var(--basic-yellow-light);
	display: flex;
	justify-content: center;
}

.grid-filter-catalog {
	display: grid;
	grid-template-columns: 1fr 3fr;
}

.footer-navigation-site {
	width: 423px;
	display: flex;
	justify-content: space-between;
	padding-top: 70px;
}

.footer-login-site {
	width: 325px;
	display: flex;
	justify-content: space-around;;
}

.footer-social-list {
	width: 136px;
	display: flex;
	justify-content: space-between;

}

.grid-footer-1 {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.grid-footer-2 {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.grid-footer-3 {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-end;
	padding: 10px;
}

.nav-menu ul {
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	list-style-type: none;
	width: 385px;
}

.advantages {
	display: flex;
	justify-content: space-between;
	flex-direction: row;
}

.advantages-navigation {
	position: relative;
}

.advantages-slider-1,
.advantages-slider-2,
.advantages-slider-3 {
	display: flex;
	justify-content: space-around;
	flex-direction: row;
}

/* Decoration */
.grid-footer-1 .main-header-logo {
	padding-top: 56px;
}

.main-header .main-header-logo {
	position: absolute;
	top: 20px;
	margin-left: 60px;
}

.header-navigation,
.header-login {
	padding-top: 16px;
	padding-left: 30px;
}

.header-icon {
	position: relative;
	padding-right: 12px;
}

.site-navigation li:nth-child(4) {
	padding-left: 103px;
}

.site-navigation li:nth-child(3) {
	padding-left: 20px;
}

.product-features-1 .features-grid-right::after {
	content: "01";
	position: relative;
	color: var(--basic-white);
	font-family: "Gilroy", Arial, san-serif;
	font-weight: 800;
	font-size: 179px;
	bottom: 418px;
	left: 340px;
}

.product-features-2 .features-grid-right::after {
	content: "02";
	position: relative;
	color: var(--basic-white);
	font-family: "Gilroy", Arial, san-serif;
	font-weight: 800;
	font-size: 179px;
	bottom: 418px;
	left: 310px;
}

.product-features-3 .features-grid-right::after {
	content: "03";
	position: relative;
	color: var(--basic-white);
	font-family: "Gilroy", Arial, san-serif;
	font-weight: 800;
	font-size: 179px;
	bottom: 418px;
	left: 310px;
}

.features-grid-right {
	padding-left: 20px;
}

.advantage-image {
	width: 136px;
	height: 164px;
	padding-top: 20px;
	margin-bottom: 220px;
}

.catalog-decoration img {
	position: relative;
	top: 5px;
	left: 15px;
}

.catalog-menu-block a:visited {
	color: var(--basic-black);
}

.advantage-name {
	margin-top: -18px;
	margin-right: 200px;
}

.slider-controls button {
	margin-left: 12px;
}

.advantages-list {
	margin-top: 38px;
}
/* Slider */
.slider-features {
	position: relative;
	z-index: 1;
	margin: 0;
	padding-top: 47px;
	padding-bottom: 10px;
}

.slider-property {
	padding-bottom: 60px;
}

.slider-controls {
	position: relative;
	top: -223px;
	left: 1000px;
}


.slider-controls button {
	position: relative;
	padding: 0;
	width: 12px;
	height: 12px;
	background-color: transparent;
	border: 1px solid var(--basic-black);
	border-radius: 50%;
	cursor: pointer;
	
}

.button-current::before {
	content: "";
	position: absolute;
	top: 2px;
	left: 2px;
	width: 4px;
	height: 4px;
	border: 1px solid var(--basic-black);
	border-radius: 50%;
	background-color: transparent;
}

.advantage-item {
	display: flex;
	justify-content: center;
}

.property-fix span {
	margin: 0;
	padding-right: 23px;
}

/* Hidden */
.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* Modal */

/*.modal-map {
	width: 994px;
	height: 593px;
	top: 100px;
	left: 250px;
	bottom: auto;
    position: fixed;
    outline: 1px solid black;
}
*/